* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: rgba(250, 235, 215, 0.3);
    
}
header {
    width: 100%;
}

header > nav {
    margin: auto;
    max-width: 50rem;
    display: flex;
    justify-content: space-between;
}
nav > button {
    font-size: 2rem;
    border: unset;
    background-color: transparent;
    cursor: pointer;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 2rem;
    min-height: 82vh;
}
.modal-container {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    bottom: 0;
}

.hero {
    background-image: url(./images/hero-bg-desktop.jpg);
    max-width: 140rem;
    max-height: 70rem;
    width: 80%;
    object-fit: contain;
    background-position: 60% 0%;
    color: white;
    padding:  25rem 5rem;
    margin: auto;
}

.hero > h1 {
    font-size: 5rem;
}

.hero > p {
    font-size: 1.6rem;
    width: 65ch;
}

.container {
    display: flex;
    justify-content: space-between;
}
.container div > p {
    font-size: 3rem;
    width: 28ch;
}
.socialEvent, .menu-container {
    max-width: 90rem;
    margin: auto;
    gap: 3rem;
}
.socialEvent > div:first-of-type {
    width: 45rem;
    height: 50rem;
    background-image: url(./images/social-events-desktop.jpg);
}

.menu-container > div:last-of-type {
    width: 45rem;
    height: 50rem;
    border: 1px solid red;
    background-image: url(./images/menu);
    background-position: 60% 50%;
    object-fit: contain;
}

footer {
    
    max-width: 140rem;
    height: 10rem;
    display: flex;
    justify-content: space-around;
    margin: auto;
    font-size: 1.6rem;
    margin-top: 5rem;

}

footer > .address, footer > .open-times {
    text-transform: uppercase;
}

footer > .made-by, footer > .address, footer > .open-times {
    margin: auto;
}

/* menu page styles */

.item-image {
    width: 25rem;
    height: 25rem;
    border-radius: 1rem;
}
.item-image:hover {
    border: .2rem solid red;
}
.menuList {
    display: flex;
    max-width: 80rem;
    gap: 2rem;
    flex-wrap: wrap;
    grid-column: 1 / 2;
}

.itemBox > h3 {
    font-weight: 300;
    color: grey;
    margin-top: 3rem;
}

.itemBox {
    position: relative;
}
.add-to-cart {
    width: 15rem;
    height: 4rem;
    position: absolute;
    top: 23rem;
    left: 5rem;
}

.add-to-cart > p, img, button {
    cursor: pointer;
}

.itemBox > h2 {
    margin-top: .5rem;
}
.add-to-cart > button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    width: 100%;
    height: 100%;
    border-radius: 3rem;
    border: .1rem solid grey;
}
.menupage {
    max-width: 110rem;
    width: 100%;
    min-height: 100rem;
    margin: auto;
    display: grid;
    grid-template-columns: 4fr 1.5fr;
    gap: 0;
}

.cart {
    grid-column: 2 / 3;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 2rem;
    font-size: 1.4rem;
    background-color: white;
    height: fit-content;
}
.cart-item-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.cartItem {
    display: flex;
    flex-direction: column;
    border-bottom: .1px solid rgba(128, 128, 128, 0.2);
    gap: .5rem;
}
.item-details {
    display: flex;
    gap: 1rem;
    margin-top: .4rem;
}

.price-details {
    display: flex;
    justify-content: space-between;
}
.price-details > img {
    height: 1.5rem;
    width: 1.5rem;
}
.confirm-order-btn {
    width: 22rem;
    height: 4rem;
}
.confirm-order-btn, .order-confirm-modal > button {
    background-color: hsl(14, 86%, 42%);
    color: white;
    border-radius: 2rem;
    border-color: transparent;
    margin-inline: auto;

}
.order-confirm-modal > button {
    width: 40rem;
    height: 4rem;
}

.order-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#total {
 font-size: 3rem;
 font-weight: 700;
}
.item-details {
    margin-bottom: 1rem;
}
.cart-header, .item-count {
    color:hsl(14, 86%, 42%)
}

.cartItem > img,  .confirm-order-btn {
    cursor: pointer;
}
.order-confirm-modal {
    position: absolute;
    width: 46rem;
    height: fit-content;
    margin: auto;
    inset: 0;
    background-color: white;
    padding: 3rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap:3rem;
    font-size: 1.4rem;
}

.active {
    display: block;
}

.inactive {
    display: none;
}

.active-tab {
    display: flex;
    flex-direction: column;
}

.cancel-btn {
    width: 10rem;
}

.fade-in {
    opacity: 0.1;
}

.reservation-form, .seat-reserve-confirmation {
    flex-direction: column;
    width: 40rem;
    gap: 2rem;
    font-size: 1.6rem;
    height: 100rem;
    margin: auto;
}

.reservation-form > input, .reservation-form > div > input, .reservation-form > button
 {
    margin-bottom: 1rem;
    width: 40rem;
    height: 3rem;
}

.reservation-form > div {
    display: flex;
    flex-direction: column;
}
 .seat-reserve-confirmation > *{
    margin-inline: auto;
}

.seat-reserve-confirmation {
    margin-top: 10rem
}